.btmm{
    display: flex;
    flex-direction: row;
}
.rgt{
    width: 30.5%;
height: 100%;
box-shadow: 0px 4px 6px 0px #0000001A;
background: #FFFFFF;
border-radius: 15px;
padding: 30px 25px;
margin-bottom: 20px;
}
.rgt hr, .lft .chrt2 hr , .lft .chrt1 hr{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border: 1px solid #E5E5EF;  
}
.rgt .chrt  {
margin-left: 4%;
margin-top: -5%;
}
  .fltr1, .fltr2{
    background: #F8F8FF;
border-radius: 15px;
    padding: 5px;
    width: 112.21px;
    height: 40px ;
    margin-top: 10px;
    margin-left: 65%;
  } 
  .fltr1 select, .fltr2 select{
    background: #041F5A;
    width: 112.21px;
    height: 40px ;  
    padding: 10px ;
   color: #FFFFFF;
   font-size: 14px;
    border-radius: 15px;   
  } 

  .lft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-right: 20px;
   margin-left: -10%;
   margin-bottom: 20px;
  }
  .lft .chrt1{
  width: 93%;
    height: 60%;
    top: 274px;
    left: 145px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
background: #FFFFFF;    
box-shadow: 0px 2px 6px 0px #0000001A;
padding: 20px 15px;
  }
 
  .lft .chrt2{
    margin-top: 20px;
   width: 93%;
    height: 40%;
    top: 767px;
    left: 156px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
background: #FFFFFF;
box-shadow: 0px 2px 6px 0px #0000001A;
padding: 20px 15px;
  }
  .fltr2{
margin-left: 80%;
  }
  .chrt1 .css-ru85wt-MuiMarkElement-root{
    stroke: #1584A7;
}
.chrt2 .PieChart{
    margin-top: 20px;
    margin-left: -10%;
}